.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 400px;
  gap: 50px;
  order: 1;
  padding: 0 30px;
}

.aside {
  border-radius: 20px;
  margin: 0 30px;
  box-shadow: 0 0 20px #092f86;
  background-color: #2b3e69;
}

.aside__time {
  max-height: max-content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.time__name {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.time__title {
  color: #e78300;
}

.time__text {
  color: #ffffff;
}

.aside__best {
  max-height: max-content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.best__title {
  color: #e78300;
}

.aside__results {
  display: flex;
  flex-direction: column;
  order: 3;
  height: 400px;
  padding: 20px;
}

.results__title {
  color: #e78300;
  font-size: 28px;
}

.results__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 1px;

}

.results__item {
  color: #ffffff;
  font-size: 20px;
  padding-left: 5px;
}

.results__item::marker {
  color: #ffffff;
  content: '😎';
}
